asgiref==3.12.1
attrs==26.1.0
certifi==2026.7.22
charset-normalizer==3.5.1
croniter==6.2.4
dj-database-url==3.1.2
Django==5.2.9
django-filter==26.1
django-stubs==5.2.9
django-stubs-ext==5.2.9
djangorestframework==3.18.0
djangorestframework-stubs==3.18.0
drf-spectacular==0.30.0
gunicorn==26.1.0
idna==3.19
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
psycopg==3.3.4
psycopg-binary==3.3.4
python-dateutil==2.9.0.post0
PyYAML==6.0.3
referencing==0.37.0
requests==2.34.2
rpds-py==2026.6.3
six==1.17.0
sqlparse==0.6.0
types-PyYAML==6.0.12.20260815
typing_extensions==4.16.0
tzdata==2026.3
uritemplate==4.2.0
urllib3==2.7.0
whitenoise==6.12.0